# Summer Olympics Data Analysis Assignment

### 1. In how many cities Summer Olympics is held so far?

In [2]:
import pandas as pd
df = pd.read_csv("summer.csv")

In [3]:
data = []
for city in df['City'].unique():
   data.append(city)


pd.DataFrame(data,columns = ['city'])

                     city
0                  Athens
1                   Paris
2                St Louis
3                  London
4               Stockholm
5                 Antwerp
6               Amsterdam
7             Los Angeles
8                  Berlin
9                Helsinki
10  Melbourne / Stockholm
11                   Rome
12                  Tokyo
13                 Mexico
14                 Munich
15               Montreal
16                 Moscow
17                  Seoul
18              Barcelona
19                Atlanta
20                 Sydney
21                Beijing

## 2. Which sport is having most number of Gold Medals so far? (Top 5)

### 3. Which sport is having most number of medals so far? (Top 5)

In [6]:
df.groupby(['sport','Medal'])['Medal'].max()

Sport
Aquatics             Silver
Archery              Silver
Athletics            Silver
Badminton            Silver
Baseball             Silver
Basketball           Silver
Basque Pelota        Silver
Boxing               Silver
Canoe                Silver
Canoe / Kayak        Silver
Cricket              Silver
Croquet              Silver
Cycling              Silver
Equestrian           Silver
Fencing              Silver
Football             Silver
Golf                 Silver
Gymnastics           Silver
Handball             Silver
Hockey               Silver
Ice Hockey           Silver
Jeu de paume         Silver
Judo                 Silver
Lacrosse             Silver
Modern Pentathlon    Silver
Polo                 Silver
Rackets              Silver
Roque                Silver
Rowing               Silver
Rugby                Silver
Sailing              Silver
Shooting             Silver
Skating              Silver
Softball             Silver
Table Tennis         Silver
Taekwondo            Silver
Tennis               Silver
Triathlon            Silver
Tug of War           Silver
Volleyball           Silver
Water Motorsports      Gold
Weightlifting        Silver
Wrestling            Silver
Name: Medal, dtype: object

### 4. Which player has won most number of medals? (Top 5)

In [28]:
medals=df.groupby(['Athlete','Medal'])['Sport'].count().reset_index().sort_values(by='Sport',ascending=False)
medals=medals.drop_duplicates(subset=['Medal'],keep='first')
medals.columns=[['Athlete','Medal','Count']]
medals

                   Athlete   Medal Count
18383      PHELPS, Michael    Gold    18
5387   DITYATIN, Aleksandr  Silver     6
16635        NEMOV, Alexei  Bronze     6

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [44]:
medals.head(1)

               Athlete Medal Count
18383  PHELPS, Michael  Gold    18

### 6. In which year India won first Gold Medal in Summer Olympics?

In [ ]:
cty=df.groupby(['Country','Year'])['Medal'].count().reset_index()

### 7. Which event is most popular in terms on number of players? (Top 5)

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [9]:
print('The Highest Decorated Female Athlete is: ',df[df['Gender']=='Women']['Athlete'].value_counts()[:1].index[0],'with: ',df[df['Gender']=='Women']['Athlete'].value_counts()[:1].values[0],' medals')

('The Highest Decorated Female Athlete is: ', 'LATYNINA, Larisa', 'with: ', 18, ' medals')